<appSettings>
    <add key="AppVersion" value="1.0"/>
    <add key="DomainName" value="iwanttoserve.com"/>
    <add key="DefaultChurchCode" value="www" />
    <add key="RecordsPerPage" value="10"/>
    <add key="SMTPServer" value="216.34.165.140"/>
    <add key="FromEmail" value="noreply@iwanttoserve.com"/>
    <add key="BaseAPIUrl" value="staging.fellowshiponeapi.com"/>
    <add key="ApiVersion" value="v1"/>
    <add key="ConsumerKey" value="6"/>
    <add key="ConsumerSecret" value="6fd61bc9-2965-4a0d-bb48-1a134bec6875"/>
    <add key="F1LoginMethod" value="WebLinkUser"/>
</appSetting>